/* NavBar.css */
nav {
    /* background: #ecc543e3; */
    background:linear-gradient(to right, rgba(92, 216, 244, 0.333),
    rgba(109, 245, 173, 0.333));
    height:7%;
    padding: 1rem;
}

.nav-container{
    display: flex;
    justify-content:right;
    align-items: center;
    margin: 2px;
    padding: 2px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-content: center;
}

li{
    display: inline;
    margin-right: 15px;
    align-content: center;
}

a,
button {
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-decoration:underline;
    padding: 0.5rem 1rem;
    background-color:transparent;
    border: none;
    cursor: pointer;
}

a:hover,
button:hover {
    background-color: #7ff40a;
}

.nav-icon {
    display: none;
    cursor: pointer;
    font-size: 35px;
}

.LogoutBtn {
    background: brown;
}



@media (max-width:768px)
{
  
    .nav-links
    {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: right;
        /* border-radius: 0px 0px 0px 20px;
        transition: transform 0.3s ease-in;
        transform: translate(100%); */
    }

    .nav-links.open{
        display: flex;
    }

    ul{
        flex-direction: column;
        width: 100%;
    }

    li{
        margin: 10px 0;
    }

    .nav-icon{
        display: block;
    }
    
}
